html, body {
  height: vh100;
  width: vw100;
}

.app {
  height: 600px;
  width: vw100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.results {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.nav {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.nav a {
  text-decoration: none;
  color: black;
}

.airport-card {
  border: 1px solid red;
  height: 200px;
  width: 150px;
}

.favorites-bar {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
}
