html, body {
  height: vh100;
  width: vw100;
}

.app {
  height: 600px;
  width: vw100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.results {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.nav {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.nav a {
  text-decoration: none;
  color: black;
}

.airport-card {
  height: 250px;
  width: 225px;
  margin: 30px;

}

.card-row {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  margin: 0;
  height: 50px;
}

#airport-name {
  margin-left: 7px;
}

#favorite-row {
  display: flex;
  justify-content: ;
  align-items: center;
}

#fave-row-1 {
  display: flex;
  align-items: center;
}

.airport-icon {
  margin-right: 5px;
  margin-left: 5px;
}

#heart {
  margin-left: 20px;
}